:css
  span.small { font-size: 0.8em }
  span.email { text-transform: lowercase !important }
  textarea.form-control { height: 200px; max-height: 200px }
  #edit-panel, #format-panel { height: 240px; max-height: 240px; overflow: scroll }
  .jobber-link, .phone-link, .email-link {cursor: pointer }
  a.email-link { display: block; }
  @media (max-width: 700px) {
    .glyphicon-envelope, .glyphicon-phone-alt { font-size: 2em;}
    .phone, span.email { position: relative; top: -5px}
  }
  @media (max-width: 480px){
    .ellipsis {
      text-overflow: ellipsis;

      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .tt-dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
    width: 170px;
    min-height: 75px;
    max-height: 150px;
    overflow-y: auto;
  }
  .tt-dataset-jobs {
  }
  span.tt-suggestions {
  }
  .tt-suggestion {
    padding: 0 3px 3px 3px;
  }
  .tt-cursor {
    background-color: #ED834E;
    color: #595643;
  }
  .w60 { width: 59%}
  .w40 { width: 39%}

  .message-body { height: 200px; max-height: 200px; overflow: scroll; margin-top: 10px }

.container-fluid
  .row
    .col-sm-12.col-xs-12.col-md-12.col-lg-12
      %h1 Oversigt over dialoger

  .row
    .col-sm-12.col-xs-12.col-md-12.col-lg-12
      %form.form-inline{ action: "/messages", method: "get"}
        .form-group.col-sm-9.col-xs-9.col-md-9.col-lg-9
          %label{ for: "q" }
          %input.form-control.searchbox{ style: "width: 100%", type: "text", id: "q", name: "q", placeholder: "Søg i emne, afsender (email), modtager (email) og indhold" }
        .col-sm-3.col-xs-3.col-md-3.col-lg-3
          %button.btn.btn-primary{ type: "submit"} Søg
      %button.new_message.btn.btn-success{ :"data-toggle"=> "modal", :"data-target"=> "#newMessage", :"data-message-id" => "0" } Ny dialog

  .row
    .col-sm-12.col-xs-12.col-md-12.col-lg-12
      - unless params[:all]=='true'
        %h3 Åbne dialoger
        = link_to 'Besvarede', messages_path(all: true), class: 'btn btn-primary'
      - else
        %h3 Besvarede dialoger
        = link_to 'Åbne', messages_path, class: 'btn btn-primary'

  .row
    - count = 0; message_stacks=[[],[]]; @messages.each{ |j| message_stacks[ (count += 1) % 2 ] << j  }
    - message_stacks.each do |message_stack|
      .col-sm-12.col-xs-12.col-md-6.col-lg-6
        %ul.list-group
          - message_stack.each do |message|
            %li{ id: "message_item_#{message.id}", class: "#{aged_class message} list-group-item"}
              .row-picture
                %a.message-link{ :"data-toggle"=> "modal", :"data-target"=> "#messageCard", :"data-message-id"=>"#{message.id}" }
                  %img.circle{ src: "http://lorempixel.com/56/56/people/1", alt:"icon", title: "#{message.created_at.strftime "%d/%m/%Y"}"}

              .row-content
                = link_to message, class: 'delete_link btn btn-danger pull-right', data: { url: '/messages', name: "#{message.title}", id: "#{message.id}", remove: "#message_item_#{message.id}" } do
                  %span.glyphicon.glyphicon-trash{:"aria-hidden"=>"true"}
                %a.message-link{ :"data-toggle"=> "modal", :"data-target"=> "#messageCard", :"data-message-id"=>"#{message.id}" }
                  .list-group-item-heading= message.title
                  .list-group-item-messenger
                    %b fra:
                    = message.messenger.name rescue ''
                %p.list-group-item-text
                  = message.created_at.strftime "%d/%m/%Y"

                  %a.ellipsis.email-link{ title: "#{message.msg_from}", :"data-toggle"=> "modal", :"data-target"=> "#newMessage", :"data-message-id" => "#{message.id}" }
                    %span.glyphicon.glyphicon-envelope{ :"aria-hidden"=>"true"}
                    %span.email
                      =message.msg_from.downcase.gsub /@/, ' at ' rescue ''

              .list-group-separator

  = render 'layouts/modal_message'
