:css 
	.line { border-left: 1px solid black; padding-left: 10px }
	.employee > span { font-size: 18px }
	.btn-success { color: white !important }

%table
	%thead
		%th{style: "padding-right: 10px"}= t('employees.table.latest')
		%th.line= t('employees.table.employee')

	%tbody
		- @employees.each do |employee|
			- color = (employee.last_seen > Date.today.to_time) ? "btn-success " : ""
			%tr
				%td
					%p.employee{ id: "employee_id_time_#{employee.id}"}
						%span{ title: "#{show_last_date employee}" }
							= show_last_time employee
				%td.line
					= button_tag employee.name, class: "employee btn btn-large #{color} btn-raised", id: "employee_id_#{employee.id}"
