:css
	i.delete-button.icon-material-cancel { font-size: 30px;}
	
.authform
	%h1= t('employees.titles.listing_employees')

	= simple_form_for(Employee.new) do |f|
		%table.table.table-striped.table-hover
			%thead
				%tr
					%th= t('employees.table.name')
					%th= t('employees.table.latest')
					%th= t('employees.table.punch_clock')
					%th= t(:delete)

			%tbody
				- @employees.includes(:punch_clock).each do |employee|
					%tr
						%td.name= link_to employee.name, employee_path(employee)
						%td= "#{show_last_datetime(employee)}"
						%td= employee.punch_clock.nil? ? "" : employee.punch_clock.name
						%td
							%i.delete-button.icon-material-cancel.icon-material-red{ id: "employee_id_#{employee.id}", title: "#{ t('employees.navigation.delete_employee') }" }
		
		%br

		= link_to t('employees.navigation.new_employee'), new_employee_path, class: 'btn btn-primary'

:coffeescript

	$('.delete-button').on 'click', (e) ->
		elem = $(e.target)[0]
		employee_id = elem.id.replace /.*\_/, ''
		row = $(elem).closest('tr')
		employee_name = $(row).find('.name').find('a').html()
		swal
			title: "Er du sikker?",
			text: "Hvis du sletter brugeren, kan du ikke få stemplingerne tilbage igen!",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: "Ja! Slet brugeren " + employee_name + "!",
			cancelButtonText: "Nej Åh nej! Lad være!",
			closeOnConfirm: false,
			closeOnCancel: false
		, (isConfirm) ->
			if isConfirm
				swal "Slettet!", "Brugeren blev slettet!", "success"
				jqhxr = $.ajax
					url: '/employees/'+employee_id+'.js',
					type: 'delete',
				.done (data,textStatus,jqHXR) ->
					$(row).remove()
					swal "Slettet!", "Brugeren blev slettet!", "success"
				.fail () ->
					swal "Fejl!", "Der opstod en fejl -- det er uvist om brugeren blev slettet!", "danger"
			else
				swal "Afbrudt", "Der blev ikke slettet noget!", "success"