.authform
	%h1= t('employees.titles.listing_employees')

	= simple_form_for(Employee.new) do |f|
		%table
			%tr
				%th= t('employees.table.name')
				%th
		
			- @employees.each do |employee|
				%tr
					%td= link_to employee.name, edit_employee_path(employee)
					%td
						/ = link_to 'delete', employee, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
						%a.btn.btn-lg{ href: "#{employee_path(employee)}", :"data-method" => :delete, title: "#{ t('employees.navigation.delete_employee') }" }
							.icon-preview
								%i.icon-material-backspace.text-danger
									
					
		
		%br

		= link_to t('employees.navigation.new_employee'), new_employee_path, class: 'btn btn-primary'

