.authform
	%h1= t('employees.titles.listing_employees')

	= simple_form_for(Employee.new) do |f|
		%table.table.table-striped.table-hover
			%thead
				%tr
					%th= t('employees.table.name')
					%th= t('employees.table.latest')
					%th= t(:delete)

			%tbody
				- @employees.each do |employee|
					%tr
						%td= link_to employee.name, employee_path(employee)
						%td= "#{show_last_datetime(employee)}"
						%td
							/ = link_to 'delete', employee, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
							%a{ href: "#{employee_path(employee)}", :"data-method" => :delete, title: "#{ t('employees.navigation.delete_employee') }" }
								.icon-preview
									%i.icon-material-backspace.text-danger
									
					
		
		%br

		= link_to t('employees.navigation.new_employee'), new_employee_path, class: 'btn btn-primary'

