.authform
	%h3= @employee.name

	%p
		%b Navn:
		= @employee.name
		
	%p
		= link_to t('employees.navigation.entrances'), employee_entrances_url(@employee)
		
	= link_to t(:edit), edit_employee_path(@employee), class: 'btn btn-primary'
	= link_to t(:back), employees_path, class: 'btn btn-default btn-raised'
