%h1 Listing assignments

%table
  %tr
    %th Job
    %th Jobber
    %th Tildelt den
    %th Af
    %th Afvist den
    %th Afvist af
    %th
    %th
    %th

  - @assignments.each do |assignment|
    %tr
      %td= link_to assignment.job.name, assignment.job rescue ''
      %td= link_to assignment.jobber.list_title, assignment.jobber rescue ''
      %td= assignment.assigned_at.strftime "%d/%m/%Y"  rescue ''
      %td= link_to assignment.assignee.list_title, assignment.assignee rescue ''
      %td= assignment.withdrawn_at.strftime "%d/%m/%Y"  rescue ''
      %td= link_to assignment.withdrawer.list_title, assignment.withdrawer rescue ''
      %td
        /= #link_to 'Destroy', assignment, :method => :delete, :data => { :confirm => 'Are you sure?' }
        = link_to(assignment, :method => :delete, class: ' btn btn-danger btn-small', :data => { :confirm => 'Er du sikker?' }) do
          %span.glyphicon.glyphicon-trash{:"aria-hidden"=>"true"}

%br

= link_to 'New Assignment', new_assignment_path
