%p#notice= notice

%p
  %b Job:
  = @assignment.job.name rescue ''
%p
  %b Jobber:
  = @assignment.jobber.name rescue ''
%p
  %b Tildelt den:
  = @assignment.assigned_at.strftime % "%d/%m/%Y" rescue ''
%p
  %b Tildelt af:
  = @assignment.assignee.list_name rescue ''
%p
  %b Afvist/trukket tilbage den:
  = @assignment.withdrawn_at.strftime % "%d/%m/%Y" rescue ''
%p
  %b Afvist/trukket tilbage af:
  = @assignment.withdrawner.list_name rescue ''

%p
  %b Status:
  = show_assignment_status @assignment
%p
  %b Årsag:
  = @assignment.withdrawn_reason


= link_to 'Edit', edit_assignment_path(@assignment)
\|
= link_to 'Back', assignments_path
