!!!
/
/ if template should build with Open Graph Protocol (opg.me)
/
/[if lt IE 7] <html.no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="dk" prefix="og: http://ogp.me/ns#">
/[if IE 7] <html.no-js lt-ie10 lt-ie9 lt-ie8" lang="dk" prefix="og: http://ogp.me/ns#">
/[if IE 8] <html.no-js lt-ie10 lt-ie9 " lang="dk" prefix="og: http://ogp.me/ns#">
/[if IE 9] <html.no-js lt-ie10" lang="dk" prefix="og: http://ogp.me/ns#">
/[if gt IE 9]><!
%html.no-js{lang: 'dk'}
	/ <![endif]>
	%head
		- current = 'ingen'
		= render 'layouts/head_v2'

	%body
		= render partial: 'layouts/navbar', locals: {current: current}
		= render 'layouts/messages'

		#index-banner.parallax-container
			.section.no-pad-bot
				.container
					%br/
					%br/
					%h1.header.center.white-text.brown-lighten-2 Job sporet
					.row.center
						%h5.header.col.s12.light I HR funktionen lægger vi skinner mellem ledige hænder og ubesatte jobs
					.row.center
						%a#download-button.btn-large.waves-effect.waves-light.brown.darken-2{href:  "/jobs" } Se hvilke ledige jobs vi har lige nu
					%br/
					%br/
			.parallax
				= image_tag "background1.jpg"
		.container
			.section
				/ Icon Section
				.row
					.col.s12.m4
						.icon-block
							%h2.center.brown-text
								%i.mdi-image-flash-on
							%h5.center Til dig der står og mangler en hånd:
							%p.light Læs nedenfor hvordan HR kan hjælpe dig med at finde de ledige hænder, du står og mangler! Eller spring lige ud i det og slå et job op:
							.center
								%a.waves-effect.waves-light.btn.modal-trigger.orange{href:  "#jobopslag"} Nyt jobopslag
					.col.s12.m4
						.icon-block
							%h2.center.brown-text
								%i.mdi-action-settings
							%h5.center Til dig der gerne vil give en hånd:
							%p.light
								Spejdernes Lejr 2017 har brug dig - læs nedenfor om de mange hænder, der skal bruges for at få en lejren som SL2017 stablet på benene - og afviklet så alle har haft en super oplevelse. Du kan også
								%i gå direkte til start
								og oprette dig som jobber!
							/ Modal Trigger
							.center
								%a.waves-effect.waves-light.btn.modal-trigger.orange{href:  "#jobtilmelding"} Jeg gir' en hånd!

					.col.s12.m4
						.icon-block
							%h2.center.brown-text
								%i.mdi-social-group
							%h5.center Til dig der allerede er blevet hyret ind:
							%p.light
								HR er mindst lige så meget for dig. Læs nedenfor hvad HR kan hjælpe dig med! Ved du allerede at vi ikke kender det job, du udfører - så opret dig og få del i vores
								%i trivselspakke
							.center
								%a.waves-effect.waves-light.btn.modal-trigger.orange{href:  "#jobstikker"} Psst her er jeg og mit job!

		.parallax-container.valign-wrapper
			.section.no-pad-bot
				.container
					.row.center
						%h5.header.col.s12.light Du kan være med til at lave Spejdernes Lejr 2017
			.parallax
				= image_tag "jobbere.jpg"

		.container
			.section
				.row
					.col.s12
						%h4 Har du lyst til at hjælpe med at planlægge SL2017?
						%p.light
							Spejdernes Lejr 2017 - SL2017 - bliver en kæmpe oplevelse for alle deltagere! Både dem, der først kommer når lejren åbner i juli 2017, og for alle os der allerede er i gang med at planlægge den!
						%p.light
							Du har en unik mulighed for at møde nye mennesker fra hele landet - og fra alle 5 korps - hvis du siger ja til at deltage i planlægningen
						%p.light Der stadig mange 'stillinger' som skal besættes - i aktivitetsudvalget, kommunikation, handel indkøb og forplejning, teknik og beredskab, og de mange andre udvalg
						%p.light
							Måske er du sygeplejerske, murer, ingeniør, pædagog, sosu-assistent - det er stort set underordnet. Der er helt sikkert også brug for dine kvalifikationer.
						%p.light
							%b Men jeg kan ingenting - og har ingen uddannelse :(
							Det er ingen undskyldning! :) Vi skal bruge masser af praktiske hænder i alle udvalg. Og det giver dig jo også muligheden for at lære noget nyt!


		.parallax-container.valign-wrapper
			.section.no-pad-bot
				.container
					.row.center
						%h5.header.col.s12.light Står du og mangler ledige hænder - fortæl os om det!
			.parallax
				= image_tag "telte2.jpg"


		.container
			.section
				.row
					.col.s12
						%h3
							Læg dit job i
							%b job sporet -
							og hjælp os med at hjælpe dig!
						%p.light
							Job sporet er bare et kælenavn til en database, som du kan bruge uanset om du sidder i letbanen mellem Odder og Århus, ligger på terrassen udenfor dit sommerhus eller holder udvalgsmøde på lejrpladsen i Sønderborg.
							%b Det er dit markedsførings værktøj
							til at få 'ansat' netop de planlæggere, du mangler for at dit udvalg løser sin opgave optimalt!
						%p.light
							Vi har ikke en 'rodekasse' hvor du kan bestille 20 stk uspecificeret - desværre. HR funktionen er rettet mod at tilbyde job til dem, der gerne vil give en hånd med og passe på dem, der allerede har et job - det gælder også dig!
							Det betyder

							%ol
								%li at vi gerne vil have at vide, hvilke stillinger, du ikke har fået besat - så kan vi hjælpe dig med at få fundet den helt rigtige til jobbet
								%li at det vil gøre os rigtigt glade, hvis du fortæller os om de planlæggere, du selv finder - en emailadresse og/eller et tlfnr er fint i første omgang
								%li
						%p.light
							Når du trykker på knappen 'nyt jobopslag' her nedenfor, får du vist en formular, hvor du kan fortælle os om et nyt job, som du står og mangler hænder til; hvad jobbet går ud på, hvor og hvornår det skal gennemføres, af hvem og hvormange.
						%p.light
							Gemmer du jobopslaget, får du en email med en bekræftelse og snarest efter løber en af HR's udvalgsjobkonsulenter opslaget igennem, og hvis ikke der er nogen spørgsmål til opslaget, bliver det slået op fra den dato, du har bedt om - ellers tager konsulenten fat i dig!
						/ Modal Trigger
						.center
							%a.waves-effect.waves-light.btn.modal-trigger.orange{href:  "#jobopslag"} Nyt jobopslag

		.parallax-container.valign-wrapper
			.section.no-pad-bot
				.container
					.row.center
						%h5.header.col.s12.light Hvordan er HR sporet lagt?
			.parallax
				= image_tag "background2.jpg"

		.container
			.section
				/ Icon Section
				.row
					.col.s12
						%h3 HR: for arbejdstagere og arbejdsgivere!
						%h5 I HR funktionen har vi 3 arbejdsgrupper: udvalgsjobkonsulenterne, jobcenteret og trivs'lerne
				.row
					.col.s12.m6
						.icon-block
							%h2.center.brown-text
								%i.mdi-image-flash-on
							%h5.center Arbejdstager
							%p.light I hele perioden op til lejren starter, arbejder vi ihærdigt på at finde spændende opgaver til dig, der har lyst til at være med til at planlægge og forberede SL2017
							%p.light
								%ol
									%li Vi forventer at du registrerer dig som jobber - så vi ved at du er interesseret i et job i planlægningsfasen
									%li
										I
										%i det virtuelle jobcenter
										sidder vi og finder, i en dialog med dig, det rigtige job til dig

							%p.light
								Når lejren
								%i blæses igang
								ændrer HR's opgave sig lidt. Det virtuelle jobcenter bliver nu ikke længere virtuelt, men helt virkeligt! Nu er vores primære opgave at sikre at de timer, du kan undvære fra lejrlivet, bliver brugt på nødvendige småjobs - og ja: der skal blandt andet gøres rent på toiletter, 'big surprise' :)


					.col.s12.m6
						.icon-block
							%h2.center.brown-text
								%i.mdi-action-settings
							%h5.center Arbejdsgiver
							%p.light
								HR's udvalgskonsulenter vil (som de siger i Fakta) så gerne at du bliver lidt længere! I planlægningsperioden er deres opgave, i samarbejde med dig og dit udvalg, at finde
								netop de planlæggere og jobbere, I står og mangler. Står I lidt tøvende overfor den opgave - hvormange jobbere skal vi bruge til at bemande infirmeriet? 'Kassedamer' i supermarkedet og 'kogekoner' i restauranterne!?! Så kontakt jeres udvalgsjobkonsulent og arbejd sammen med hende! Giv ham
								alle jeres spørgsmål. Kan de ikke svare, vil de i hvertfald gøre deres yderste for at prøve at finde nogen, der kan!

							%p.light
								Når først lejren er 'i drift' er det udvalgsjobkonsulenterne I vil finde rundt om i underlejrene. Her vil de hjælpe jobcenteret med at
								fordele de jobs, der ikke er blevet besat, eller som opstår akut!

				.row
					.col.s12
						%p.light
							Uanset om du er lejrchef eller napper et enkelt
							%i toiletvognseftersyn,
							håber vi i HR, at du får lejlighed til at møde
							%b trivs'lerne
							eller i det mindste, at du får mulighed for at 'smage' frugten af deres arbejde!

						%p.light
							Trivs'lerne sigter efter at gøre det lidt rarere, sjovere, nemmere og enklere at være med til at planlægge og drive Spejdernes Lejr 2017


		%footer.page-footer.black
			.container
				.row
					.col.l6.s12
						%h5.white-text Spejdernes Lejr 2017
						%p.grey-text.text-lighten-4 SL2017 er en teltlejr for alle unge spejdere i de 5 danske spejderkorps - lidt mere snak her..
						%p.grey-text.text-lighten-4
							HR funktionen er det hovedudvalg som af lejrledelsen er blevet oprettet for at
							%ul
								%li lette arbejdet med at skaffe ledige hænder i de øvrige hovedudvalg
								%li tilbyde interesserede små og større praktiske opgaver på lejren
								%li sikre at alle der giver en hånd med, bliver set og deres indsats værdsat

					.col.l3.s12
						%h5.white-text Settings
						%ul
							%li
								%a.white-text{href:  "#!"} HR ledelsen
							%li
								%a.white-text{href:  "#!"} Jobcenteret
							%li
								%a.white-text{href:  "#!"} Udvalgsjobkonsulenterne
							%li
								%a.white-text{href:  "#!"} Trivs'lerne
					.col.l3.s12
						%h5.white-text Connect
						%ul
							%li
								%a.white-text{href:  "#!"} Pia og Johannes
							%li
								%a.white-text{href:  "#!"} Marianne
							%li
								%a.white-text{href:  "#!"} Karsten
							%li
								%a.white-text{href:  "#!"} Rene

				.row
					= image_tag "mint_100.png", class: "right"

			.footer-copyright
				.container{style:  "font-size: 0.75em"}
					Made by
					%a.brown-text.text-lighten-3{href:  "http://twitter.com/wdiechmann", target:  "_blank"} wdiechmann

		/ Modal Structure
		#jobopslag.modal.brown.lighten-1
			.modal-header
				%h4.white-text{style:  "margin: 10px 0px 10px 10px" }
					Nyt job opslag
			.modal-content.orange.lighten-4
				%form#new_job.simple_form.new_job{"accept-charset" => "UTF-8", action:  "/jobs", method:  "post", novalidate:  "novalidate", role:  "form"}
					%input{name:  "utf8", type:  "hidden", value:  "✓"}/
					%input{name:  "authenticity_token", type:  "hidden", value:  "cvnAG+ffybdBOetabsIHr03/+6r0x0SUZ2PBGV/rl6Q494YqAPRHu1+wc7jrkEgFg0GH9nOMjdx73e9GDH2dlA=="}/
					.form-group
						/ <a class="help" href="#" tabindex="0" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">?</a>
						.form-control-wrapper
							%input#job_name.form-control.empty.bs-material.text-white{autofocus:  "autofocus", name:  "job[name]", placeholder:  "Hvad", type:  "text"}/
							.floating-label Hvad - beskriv opgaven kort
							%span.material-input sdfghj
					.form-group
						.form-control-wrapper
							%input#job_location.form-control.empty.bs-material{autofocus:  "autofocus", name:  "job[location]", type:  "text"}/
							.floating-label Hvor - skal opgaven løses; fx.: iskiosken ved supermarkedet
							%span.material-input
					.form-group
						.form-control-wrapper
							%input#job_schedule.form-control.empty.bs-material{autofocus:  "autofocus", name:  "job[schedule]", type:  "text"}/
							.floating-label Hvornår - skriv tidspunkt og evt varighed; fx.: hver morgen 6-7
							%span.material-input
					.form-group
						.form-control-wrapper
							%input#job_priority.form-control.bs-material{autofocus:  "autofocus", name:  "job[priority]", type:  "number", value:  "1"}/
							.floating-label Prioritet - angiv en prioritet 1-5 hvor 1 betyder at lejren ikke kan afvikles ud - og 5 er jobs som kan gøres, hvis der er tid
							%span.material-input
					.form-group
						.form-control-wrapper
							%input#job_jobbers_min.form-control.bs-material{autofocus:  "autofocus", name:  "job[jobbers_min]", type:  "number", value:  "1"}/
							.floating-label Mindste antal jobbere - Angiv antallet af jobbere som mindst skal bruges. 1 almindelig jobber alene kan eksempelvis ikke løfte 1 kummefryser
							%span.material-input
					.form-group
						.form-control-wrapper
							%input#job_jobbers_wanted.form-control.bs-material{autofocus:  "autofocus", name:  "job[jobbers_wanted]", type:  "number", value:  "1"}/
							.floating-label Ønsket antal jobbere - Angiv antallet af jobbere som vil gøre det til en nem opgave for alle.
							%span.material-input
					.form-group
						.form-control-wrapper
							%input#job_jobbers_max.form-control.bs-material{autofocus:  "autofocus", name:  "job[jobbers_max]", type:  "number", value:  "1"}/
							.floating-label Maksimalt antal jobbere - Angiv antallet af jobbere som maksimalt kan bruges. Der er - eksempelvis - ikke plads til mere end 5 jobbere i en almindelig personvogn
							%span.material-input
					.form-group
						.form-control-wrapper
							%input#job_promote_job_at.form-control.bs-material{autofocus:  "autofocus", name:  "job[promote_job_at]", type:  "date"}/
							.floating-label Fra hvilken dato må jobbet blive vist på job portalen? (angiv ingen dato, hvis jobbet er "internt")
							%span.material-input
					.form-group
						.control-group.select.optional.job_delivery_team_id
							%label.select.optional.control-label{for:  "job_delivery_team_id"} Delivery team
							.controls
								%select#job_delivery_team_id.select.optional{name:  "job[delivery_team_id]"}
									%option{value:  ""}
									%option{value:  "8"} AKU - Aktiviteter &amp; Uddannelse
									%option{value:  "26"} BRA - Budget, Regnskab og Administration
									%option{value:  "27"} - Sponsorarbejde
									%option{value:  "13"} DU - Deltager &amp; Underlejr
									%option{value:  "14"} ES - Event &amp; Spejderånd
									%option{value:  "9"} HIF - Handel Indkøb &amp; Forplejning
									%option{value:  "1"} HR - Human Resource
									%option{value:  "6"} - Administration
									%option{value:  "4"} - HR IT
									%option{value:  "2"} - Jobcenter
									%option{value:  "3"} -- Virtuelt jobcenter
									%option{value:  "7"} - Sønderborg link
									%option{value:  "5"} - Trivsel
									%option{value:  "18"} INT - International
									%option{value:  "15"} KOM - Kommunikation
									%option{value:  "20"} LC - lejrcheferne
									%option{value:  "12"} PI - Politik &amp; Identitet
									%option{value:  "19"} RB - Regnskab og budget
									%option{value:  "10"} TB - Teknik &amp; Beredskab
									%option{value:  "21"} - Beredskab (under Teknik &amp; Beredskab)
									%option{value:  "24"} -- Brand og ambulance
									%option{value:  "25"} -- Lejrens vagtcentral
									%option{value:  "22"} -- Lejrhospitalet
									%option{value:  "23"} -- Lejrvagten
									%option{value:  "17"} TB - Teknik og Beredskab
					/ jobbet er oprettet af
					/ .form-group
					/ = f.number_field :vacancies, autofocus:  true, class: 'form-control floating-label', placeholder: 'Hvordan'
					/ = f.error :vacancies
					/ .form-group
					/ = f.date_field :delegated_at, autofocus:  true, class: 'form-control floating-label', placeholder: 'Delegeret den'
					/ = f.error :description
					/
					.form-group
						.form-control-wrapper
							%textarea#job_description.form-control.empty.bs-material{autofocus:  "autofocus", name:  "job[description]"}
							.floating-label Hvordan - En arbejdsbeskrivelse + alle de små detaljer som skal være på plads. At jobberen skal huske kørekort, el. lign., osv.
							%span.material-input
			.modal-footer
				%a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:  "#!"} Slå det op
		/ Modal Structure
		#jobtilmelding.modal
			.modal-header
				%h4.white-text{ style: "margin: 10px 0px 10px 10px "} Ny job tilmelding
			.modal-content.orange.lighten-4
				%h4 Job tilmelding
				%form#new_jobber.simple_form.new_jobber{"accept-charset" => "UTF-8", action:  "/jobbers", method:  "post", novalidate:  "novalidate"}
					%input{name:  "utf8", type:  "hidden", value:  "✓"}/
					%input{name:  "authenticity_token", type:  "hidden", value:  "EJYM2pNCTbSKZVTojU9r7nKfUjrzPrLXAu4V9wqEfjtamErrdGnDuJTszAoIHSREvCEuZnR1e58eUDuoWRJ0Cw=="}/
					.form-group
						.form-control-wrapper
							%input#jobber_name.form-control.empty.bs-material{autofocus:  "autofocus", name:  "jobber[name]", type:  "text"}/
							.floating-label Fulde navn
							%span.material-input
					.form-group
						.form-control-wrapper
							%input#jobber_street.form-control.empty.bs-material{autofocus:  "autofocus", name:  "jobber[street]", type:  "text"}/
							.floating-label Gade og nummer
							%span.material-input
					.form-group
						.form-control-wrapper
							%input#jobber_zip_city.form-control.empty.bs-material{autofocus:  "autofocus", name:  "jobber[zip_city]", type:  "text"}/
							.floating-label Postnr By
							%span.material-input
					.form-group
						.form-control-wrapper
							%input#jobber_phone_number.form-control.empty.bs-material{autofocus:  "autofocus", name:  "jobber[phone_number]", type:  "text"}/
							.floating-label Telefon nummer
							%span.material-input
					.form-group
						.form-control-wrapper
							%input#jobber_email.form-control.empty.bs-material{autofocus:  "autofocus", name:  "jobber[email]", type:  "text"}/
							.floating-label Email adresse
							%span.material-input
					.form-group
						.form-control-wrapper
							%input#jobber_jobbers_controlled.form-control.bs-material{autofocus:  "autofocus", name:  "jobber[jobbers_controlled]", type:  "number", value:  "1"}/
							.floating-label Hvormange jobbere kontrollerer jobberen
							%span.material-input
					.form-group
						.form-control-wrapper
							%input#jobber_jobber_assigned.date.form-control.bs-material{autofocus:  "autofocus", name:  "jobber[jobber_assigned]", type:  "date"}/
							.floating-label Hvornår er jobberen anvist arbejde
							%span.material-input
					.form-group
						.form-control-wrapper
							%input#jobber_next_contact_at.date.form-control.bs-material{autofocus:  "autofocus", name:  "jobber[next_contact_at]", type:  "date"}/
							.floating-label Hvornår skal jobberen kontaktes næste gang
							%span.material-input
					.form-group
						.form-control-wrapper
							%textarea#jobber_description.form-control.empty.bs-material{autofocus:  "autofocus", name:  "jobber[description]"}
							.floating-label Kommentarer i forbindelse med jobanvisning/interview af jobberen
							%span.material-input
			.modal-footer
				%a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:  "#!"} Giv mig et job
		-#
		-# / Scripts
		-# %script{ src: "https://code.jquery.com/jquery-2.1.1.min.js" }
		-# %script{ src: "js/materialize.js" }
		-# %script{ src: "js/init.js" }

		-# = javascript_include_tag 'application'

		:coffeescript

			userSignIn = () ->
				$('.user_sign_in').on 'click', (event) ->
					window.location.href = '/users/sign_in'

			newMessage = () ->
				request = null
				$('button.new_message').on 'click', (event) =>
					# abort any pending request
					event.preventDefault()
					if request
						request.abort()

					# setup some local variables
					$form = $('#new_message')
					# let's select and cache all the fields
					$inputs = $form.find "input, select, button, textarea"

					# serialize the data in the form
					serializedData = $form.serialize()

					# let's disable the inputs for the duration of the ajax request
					# Note: we disable elements AFTER the form data has been serialized.
					# Disabled form elements will not be serialized.
					$inputs.prop("disabled", true)

					# fire off the request to /form.php
					request = $.ajax
						url: '/messages.js',
						type: "post",
						data: serializedData

					# callback handler that will be called on success
					request.done (response, textStatus, jqXHR) ->
						# log a message to the console
						swal "Tak!", "Vi har modtaget din besked - og sendt dig en kopi pr email :)", 'success'

					# callback handler that will be called on failure
					request.fail (jqXHR, textStatus, errorThrown) ->
						# log the error to the console
						swal "ØV!", "Noget er gået galt \n Fejlen: " + jqXHR.responseText + ' ' + errorThrown, 'error'

					# callback handler that will be called regardless
					# if the request failed or succeeded
					request.always () ->
						#reenable the inputs
						$inputs.prop "disabled", false

					# prevent default posting of form
					event.preventDefault()

			jobberRegistration = () ->
				request = null
				$('button.jobber-registration').on 'click', (event) =>
					# abort any pending request
					event.preventDefault()
					if request
						request.abort()

					# setup some local variables
					$form = $('#new_jobber')
					# let's select and cache all the fields
					$inputs = $form.find "input, select, button, textarea"

					# serialize the data in the form
					serializedData = $form.serialize()

					# let's disable the inputs for the duration of the ajax request
					# Note: we disable elements AFTER the form data has been serialized.
					# Disabled form elements will not be serialized.
					$inputs.prop("disabled", true)

					# fire off the request to /form.php
					request = $.ajax
						url: '/jobbers.js',
						type: "post",
						data: serializedData

					# callback handler that will be called on success
					request.done (response, textStatus, jqXHR) ->
						# log a message to the console
						swal "Tak!", "Vi har modtaget din tilmelding - og sendt dig en email :)", 'success'

					# callback handler that will be called on failure
					request.fail (jqXHR, textStatus, errorThrown) ->
						# log the error to the console
						swal "ØV!", "Noget er gået galt \n Fejlen: " + textStatus + ' ' + errorThrown, 'error'

					# callback handler that will be called regardless
					# if the request failed or succeeded
					request.always () ->
						#reenable the inputs
						$inputs.prop "disabled", false

					# prevent default posting of form
					event.preventDefault()

			$(document).on 'ready page:load', ->
				pageOnLoad()
				newMessage()
				jobberRegistration()
				userSignIn()
				msg = $('#flash_notice').html()


				$('.btn.job-btn').on 'click', (event) ->
					$('#jobber_job_id').val($(this).data('job-id'))
					$('#jobber_job_name').val($(this).data('job-name'))
					$('.jobber_job_group').show()

				if msg
					swal 'Super!', msg, 'success'

		:javascript

			function fadedEls(el, shift) {
				el.css('opacity', 0);
				switch (shift) {
					case undefined: shift = 0;
					break;
					case 'h': shift = el.eq(0).outerHeight();
					break;
					case 'h/2': shift = el.eq(0).outerHeight() / 2;
					break;
				}
				$(window).resize(function() {
					if (!el.hasClass('ani-processed')) {
						el.eq(0).data('scrollPos', el.eq(0).offset().top - $(window).height() + shift);
					}
				}).scroll(function() {
					if (!el.hasClass('ani-processed')) {
						if ($(window).scrollTop() >= el.eq(0).data('scrollPos')) {
							el.addClass('ani-processed');
							el.each(function(idx) {
								$(this).delay(idx * 200).animate({
									opacity : 1
								}, 1000);
							});
						}
					}
				});
			};

			function collapseMenu(e){
				$(e).closest('.collapse').removeClass('in');
			}

			function scrollToSection(e){
				$.scrollTo($('#' + $(e).data('section')), {
					axis : 'y',
					duration : 500
				})
			}

			function pageOnLoad(){
					var isMobile = {
					    Android: function() {
					        return navigator.userAgent.match(/Android/i);
					    },
					    BlackBerry: function() {
					        return navigator.userAgent.match(/BlackBerry/i);
					    },
					    iOS: function() {
					        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
					    },
					    Opera: function() {
					        return navigator.userAgent.match(/Opera Mini/i);
					    },
					    Windows: function() {
					        return navigator.userAgent.match(/IEMobile/i);
					    },
					    any: function() {
					        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
					    }
					};

					$('.header-10-sub .scroll-btn a,a.control-btn').on('click', function(e) {
						e.preventDefault();
						$.scrollTo($(this).closest('section').next(), {
						    axis : 'y',
						    duration : 500
						});
						return false;
					});
					$('.nav').find('a.sect').on('click', function(e) {
					    e.preventDefault();
							elem=this
							$.when(scrollToSection(elem)).done(collapseMenu(elem));
					});

					// Sections height & scrolling
					$(window).resize(function() {
					    var sH = $(window).height();
					    $('section.header-10-sub').css('height', (sH + 'px'));
					});

					// Parallax
					if(!isMobile.any()) {
					    $('.header-10-sub,.header-10-sub .background').each(function() {
					        $(this).parallax('50%', -0.3, false);
					    });

					    $('.content-23:not(.custom-bg)').each(function() {
					        $(this).parallax('50%', 0.3, false);
					    });

					    $('.content-23.custom-bg2').css({
					        backgroundAttachment: 'fixed'
					    });
					};

					if(!isMobile.any()) {
					    // Faded elements
					    // fadedEls($('.content-7'), 300);
					    // fadedEls($('.content-8'), 300);
					};

					(function(el) {
					    el.css('left', '-100%');
					    $(window).resize(function() {
					        if (!el.hasClass('ani-processed') && el.length > 0) {
					            el.data('scrollPos', el.offset().top - $(window).height() + el.outerHeight());
					        }
					    }).scroll(function() {
					        if (!el.hasClass('ani-processed')) {
					            if ($(window).scrollTop() >= el.data('scrollPos')) {
					                el.addClass('ani-processed');
					                el.animate({
					                    left : 0
					                }, 500);
					            }
					        }
					    });
					})($('.content-13 > .container'));

					$(window).resize().scroll();

					// Masonry
					$('#masonry-container').masonry({
						itemSelector: '.box',
						// set columnWidth a fraction of the container width
						// columnWidth: function( containerWidth ) {
						//	return containerWidth / 2;
						// },
						// columnWidth: 100,
						isAnimated: true,
						gutterWidth: 5
					});


					// Carousel
					(function(el){
						$(window).resize(function() {
							shift = el.eq(0).outerHeight() /10;
						if (!el.hasClass('ani-processed') && el.length > 0) {
							el.eq(0).data('scrollPos', el.eq(0).offset().top - $(window).height() + shift);
						}
						}).scroll(function() {
							if (!el.hasClass('ani-processed')) {
								if ($(window).scrollTop() >= el.eq(0).data('scrollPos')) {
									el.addClass('ani-processed');
									function carouselAnimation(){
										el.css('top', '0');
										var imgHeight = el.height();
										var lastPoint = imgHeight - 448*2;
										var intervalID = setInterval(function(){
											el.animate({
												top: (el.css('top').slice(0, -2)) - 402
											}, {
												duration: 1000,
												easing: "easeInOutSine"
											});
											console.log((-(el.css('top').slice(0, -2))), lastPoint);
											if (-(el.css('top').slice(0, -2)) >= lastPoint){
												clearInterval(intervalID);
												setTimeout(function(){
													el.animate({
												  	top: 0
												  }, {
														duration: 1000,
														easing: "easeInOutSine",
														complete: carouselAnimation
													});
												}, 3000)
											}
										}, 2000);
									}
									carouselAnimation();
								}
							}
						});
					})($('.screen-custom img'));
			}

			(function($) {
				$(function() {
				});
			})(jQuery);
