= simple_form_for(@delivery_team) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    / = f.input :ancestry
    = f.hidden_field :parent_id
    = f.input :description

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
