.container-fluid
	.row
		.col-md-12
			%h1 Oversigt over jobs

	.row
		.col-md-12
			%form.form-inline{ action: "/jobs", method: "get"}
				.form-group
					%label{ for: "q" }
					%input.form-control{ type: "text", id: "q", name: "q", placeholder: "Søg i hv-felterne" }
				%button.btn.btn-primary{ type: "submit"} Søg
	.row
		.col-md-12
			&nbsp;
	.row
		.col-md-12
			%table.table.table-striped
				%tr
					%th Hvad
					%th Hvor
					%th Hvornår
					%th Udvalg
					%th Jobbere
					%th

				- @jobs.each do |job|
					%tr{ class: "#{aged_class job}"}
						%td= link_to job.name, job
						%td= job.location
						%td= job.schedule
						%td= job.delivery_team.title rescue ''
						/ %td= display_job_jobbers(job).join(",").html_safe
						%td= badge(job)
						%td
							/ = link_to 'Destroy', job, :method => :delete, :data => { :confirm => 'Are you sure?' }
							= link_to(job, :method => :delete, class: ' btn btn-danger btn-small', :data => { :confirm => 'Er du sikker?' }) do
								%span.glyphicon.glyphicon-trash{:"aria-hidden"=>"true"}

			%br

			= link_to 'Nyt job', new_job_path, class: 'btn btn-success'
