.container-fluid
	.row
		.col-md-12
			%h1 Oversigt over jobs

	.row
		.col-md-12.col-sm-12.col-lg-12
			%form.form-inline{ action: "/jobs", method: "get"}
				.form-group.col-md-10.col-sm-10.col-lg-10
					%label{ for: "q" }
					%input.form-control{ style: "width: 100%", type: "text", id: "q", name: "q", placeholder: "Søg i hv-felterne" }
				.col-md-2.col-sm-2.col-lg-2
					%button.btn.btn-primary{ type: "submit"} Søg

					= link_to 'Nyt job', new_job_path, class: 'btn btn-success'

	.row
		.col-md-12
			&nbsp;
	.row
		.col-md-12
			%table.table.table-striped
				%tr
					%th Hvad
					%th Hvor
					%th Hvornår
					%th Udvalg
					%th Jobbere
					%th

				- @jobs.each do |job|
					%tr{ class: "#{aged_class job}", id: "job_#{job.id}"}
						%td= link_to job.name, job
						%td= job.location
						%td= job.schedule
						%td= job.delivery_team.title rescue ''
						/ %td= display_job_jobbers(job).join(",").html_safe
						%td= badge(job)
						%td
							= link_to job, class: 'delete_link btn btn-danger pull-right', data: { url: '/jobs', name: "#{job.name}", id: "#{job.id}", remove: "#job_#{job.id}" } do
								%span.glyphicon.glyphicon-trash{:"aria-hidden"=>"true"}

			%br
