.container

	%h3 Job
	.row
		.col-md-2
			%b Hvad
		.col-md-10
			= @job.name
	.row
		.col-md-2
			%b Hvor
		.col-md-10
			= @job.location
	.row
		.col-md-2
			%b Hvornår
		.col-md-10
			= @job.schedule
	.row
		.col-md-2
			%b Mindste antal jobbere
		.col-md-10
			= @job.jobbers_min
	.row
		.col-md-2
			%b Ønsket antal jobbere
		.col-md-10
			= @job.jobbers_wanted
	.row
		.col-md-2
			%b Største antal jobbere
		.col-md-10
			= @job.jobbers_max
	.row
		.col-md-2
			%b Markedsfør jobbet fra den
		.col-md-10
			= @job.promote_job_at
	.row
		.col-md-2
			%b Hvordan
		.col-md-10
			= @job.description

	.row
		.col-md-2
		.col-md-10
	.row
		.col-md-12
			= link_to 'Redigér', edit_job_path(@job), class: 'btn btn-success'
			&nbsp
			&nbsp
			= link_to 'Til oversigten', jobs_path, class: 'btn btn-info'
