%p#notice= notice

%p
  %b Name:
  = @job.name
%p
  %b Location:
  = @job.location
%p
  %b Schedule:
  = @job.schedule
%p
  %b Description:
  = @job.description

= link_to 'Edit', edit_job_path(@job)
\|
= link_to 'Back', jobs_path
