.authform
	= simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form'} do |f|
		%h3
			= t('devise.passwords.forgot')
		%p
			= t('devise.passwords.send_instructions')
		= f.error_notification #= devise_error_messages!
		= f.hidden_field :reset_password_token
		.form_group
			= f.email_field :email, placeholder: t('devise.forms.email'), autofocus: true, class: 'form-control floating-label'
			= f.error :email
			
		= f.submit t('devise.forms.reset'), class: 'btn btn-primary'
