.authform
	%h3= @punch_clock.name

	%p
		%b Navn:
		= @punch_clock.name
		
	%p
		= link_to t('punch_clocks.navigation.employees'), punch_clock_employees_url(@punch_clock)
		
	= link_to t(:edit), edit_punch_clock_path(@punch_clock), class: 'btn btn-primary'
	= link_to t(:back), punch_clocks_path, class: 'btn btn-default btn-raised'
