:css
	input.date.empty~.floating-label { padding-left: 125px;}

= simple_form_for(@jobber) do |f|
	= f.error_notification
	.form-group
		= f.text_field :name, :autofocus => true, class: 'form-control floating-label', placeholder: t('jobbers.form.name')
		= f.error :name

	.form-group
		= f.text_field :street, :autofocus => true, class: 'form-control floating-label', placeholder: t('jobbers.form.street')
		= f.error :street

	.form-group
		= f.text_field :zip_city, :autofocus => true, class: 'form-control floating-label', placeholder: t('jobbers.form.zip_city')
		= f.error :zip_city

	.form-group
		= f.text_field :phone_number, :autofocus => true, class: 'form-control floating-label', placeholder: t('jobbers.form.phone_number')
		= f.error :phone_number

	.form-group
		= f.text_field :email, :autofocus => true, class: 'form-control floating-label', placeholder: t('jobbers.form.email')
		= f.error :email

	.form-group
		= f.number_field :jobbers_controlled, :autofocus => true, class: 'form-control floating-label', placeholder: t('jobbers.form.jobbers_controlled')
		= f.error :jobbers_controlled

	.form-group
		= f.date_field :jobber_assigned, :autofocus => true, class: 'date form-control floating-label', placeholder: t('jobbers.form.jobber_assigned')
		= f.error :jobber_assigned

	.form-group
		= f.date_field :next_contact_at, :autofocus => true, class: 'date form-control floating-label', placeholder: t('jobbers.form.next_contact_at')
		= f.error :next_contact_at

	.form-group
		= f.text_area :description, :autofocus => true, class: 'form-control floating-label', placeholder: t('jobbers.form.description')
		= f.error :description

	.form-action
		= f.button :submit
