:css
	span.email { text-transform: lowercase !important }

.container-fluid
	.row
		.col-md-12
			%h1 Oversigt over jobbere

	.row
		.col-md-12
			%table.table.table-striped
				%tr
					%th Navn
					/ %th Street
					/ %th Zip city
					%th Tlf
					%th Email
					%th Bekræftet
					%th

				- @jobbers.each do |jobber|
					%tr
						%td= link_to jobber.name, jobber
						/ %td= jobber.street
						/ %td= jobber.zip_city
						%td
							%button.btn.btn-default
								%span.glyphicon.glyphicon-phone-alt{ :"aria-hidden"=>"true", title: "#{jobber.phone_number}"}
								%span.hidden-xs= jobber.phone_number

						%td
							%button{ title: "#{jobber.email}", type:"button", class:"btn btn-primary btn-small", :"data-toggle"=> "modal", :"data-target"=> "#newMessage", :"data-recipient"=>"#{jobber.email}" }
								%span.glyphicon.glyphicon-envelope{ :"aria-hidden"=>"true"}
								%span.email.visible-md-inline.visible-lg-inline
									=jobber.email.downcase

						%td
							- unless jobber.confirmed_at.nil?
								%button.btn.btn-default
									%span.glyphicon.glyphicon-ok{}
									%span.hidden-xs= jobber.confirmed_at.strftime "%d/%m/%Y"
						%td
							= link_to(jobber, :method => :delete, class: ' btn btn-danger btn-small', :data => { :confirm => 'Er du sikker?' }) do
								%span.glyphicon.glyphicon-trash{:"aria-hidden"=>"true"}



			%br

			= link_to 'Ny jobber', new_jobber_path, class: 'btn btn-success'


			#newMessage.modal.fade{ tabindex:"-1", role:"dialog", :"aria-labelledby"=>"exampleModalLabel", :"aria-hidden"=>"true" }
				.modal-dialog
					.modal-content
						.modal-header
							%button{ type:"button", class:"close", :"data-dismiss"=>"modal", :"aria-label"=>"Close"}
								%span{ :"aria-hidden"=>"true"} &times;
							%h4.modal-title{ id: "exampleModalLabel"}	Ny besked

						.modal-body
							%form
								%input{ type: "hidden", name: "message[name]", value: ""}
								%input{ type: "hidden", name: "message[street]", value: ""}
								%input{ type: "hidden", name: "message[zip_city]", value: ""}
								%input{ type: "hidden", name: "message[email]", value: ""}

								.form-group
									%label{ for:"message_msg_to", class:"control-label"} Til:
									%input{ type:"text", class:"form-control", name: "message[msg_to]", id:"message_msg_to"}
								.form-group
									%label{ for:"message_title", class:"control-label"} Emne:
									%input{ type:"text", class:"form-control", id:"message_title", name: "message[title]"}
								.form-group
									%label{ for:"message_body", class:"control-label"} Besked
									%textarea{ class:"form-control", id:"message_body", name: "message[body]"}

						.modal-footer
							%button.btn.btn-default{ type:"button", :"data-dismiss"=>"modal"} Fortryd
							%button.btn.btn-primary{ type:"button", id: "send_message"} Send

	:coffeescript
		newMessage = () ->
			$form = $('#newMessage')
			# let's select and cache all the fields
			$inputs = $form.find "input, select, button, textarea"

			# serialize the data in the form
			serializedData = $inputs.serialize()

			# let's disable the inputs for the duration of the ajax request
			# Note: we disable elements AFTER the form data has been serialized.
			# Disabled form elements will not be serialized.
			$inputs.prop("disabled", true)

			# fire off the request to /form.php
			request = $.ajax
				url: '/messages.js',
				type: "post",
				data: serializedData

			# callback handler that will be called on success
			request.done (response, textStatus, jqXHR) ->
				# log a message to the console
				swal "Perfekt!", "Der er sendt en besked :)", 'success'

			# callback handler that will be called on failure
			request.fail (jqXHR, textStatus, errorThrown) ->
				# log the error to the console
				swal "ØV!", "Noget er gået galt \n Fejlen: " + jqXHR.responseText + ' ' + errorThrown, 'error'

			# callback handler that will be called regardless
			# if the request failed or succeeded
			request.always () ->
				#reenable the inputs
				$inputs.prop "disabled", false

		$('#newMessage').on 'show.bs.modal', (event) ->
			button = $(event.relatedTarget)
			recipient = button.data('recipient')
			modal = $(this)
			modal.find('.modal-title').text('Ny besked til ' + recipient)
			modal.find('.modal-body input').val(recipient)

		$('#send_message').on 'click', (e) ->
			newMessage()
			$('#newMessage').hide()
