:css
	span.small { font-size: 0.8em }
	span.email { text-transform: lowercase !important }
	textarea.form-control { height: 200px; max-height: 200px }
	#edit-panel, #format-panel { height: 240px; max-height: 240px; overflow: scroll }
	.jobber-link, .phone-link, .email-link {cursor: pointer }
	a.email-link { display: block; }
	@media (max-width: 700px) {
		.glyphicon-envelope, .glyphicon-phone-alt { font-size: 2em;}
		.phone, span.email { position: relative; top: -5px}
	}
	@media (max-width: 480px){
		.ellipsis {
		  text-overflow: ellipsis;

		  /* Required for text-overflow to do anything */
		  white-space: nowrap;
		  overflow: hidden;
		}
		button.cancel_park {
			margin-bottom: 10px;
		}
	}

	.tt-dropdown-menu {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		background-color: white;
		width: 170px;
		min-height: 75px;
		max-height: 150px;
		overflow-y: auto;
	}
	.tt-dataset-jobs {
	}
	span.tt-suggestions {
	}
	.tt-suggestion {
		padding: 0 3px 3px 3px;
	}
	.tt-cursor {
		background-color: #ED834E;
		color: #595643;
	}
	.w70 { width: 69%; margin: 0 }
	.w30 { width: 29%; float: right; v-align: top; margin: 0 }
	.w100 { width: 99% }
	span.glyphicon.glyphicon-time, span.glyphicon.glyphicon-trash { color: white }
	a.park_jobber, a.kill_jobber { margin-top: 5px; margin-right: 5px; float: right }
	.searchbox { width: 100% !important;}

	.message-body { height: 200px; max-height: 200px; overflow: scroll; margin-top: 10px }

.container
	.row
		.col.s12
			%h1 Jobberliste
			- if parent?
				%h5= 'knyttet til jobbet: ' + parent.name
	.row
		.col.s12
			%form.form-inline{ action: "/jobbers", method: "get"}
				.form-group.col.s7
					%label{ for: "q" }
					%input.form-control{ style: "width: 100%", type: "text", id: "q", name: "q", placeholder: "Søg i navn, gade, by, tlf og email" }
				.col.s5
					%button.btn.btn-primary{ type: "submit"} Søg
					= link_to 'Ny jobber', new_jobber_path, class: 'btn btn-success'

	.row
		.col.s12
			&nbsp;

			.row-action-primary.checkbox
				%label
					%input{ type:"checkbox"}
				Jobbere med en checkbox i stedet for en 'avatar' har ikke bekræftet deres interesse tilkendegivelse. Du kan bekræfte den ved at klikke i checkboxen - men vær nu sikker på at jobberens email virker!

			%h3
				&nbsp;

	.row
		.col.s12
			&nbsp;

	.row
		- count = 0; jobstacks=[ [],[] ]; @jobbers.each{ |j| jobstacks[ (count += 1) % 2 ] << j  }
		- jobstacks.each do |jobstack|
			.col-lg-4
				%ul.list-group
					- jobstack.each do |jobber|
						%li{ id: "jobber_item_#{jobber.id}", class: "#{aged_class jobber} list-group-item"}
							.jobber_item
								- unless jobber.confirmed_at.nil?
									.row-picture
										%a.jobber-link{ :"data-toggle"=> "modal", :"data-target"=> "#jobberCard", :"data-jobber-id"=>"#{jobber.id}" }
											%img.circle.responsive-img{ src: "http://lorempixel.com/56/56/people/1", alt:"icon", title: "#{jobber.confirmed_at.strftime "%d/%m/%Y"}"}
								- else
									.row-action-primary.checkbox.confirmation{ id: "jobber_col1_#{jobber.id}"}
										%label
											%input{ type:"checkbox", value: "#{jobber.id}"}

								.row-content
									.w100
										.w30
											%a.park_jobber.btn.btn-small.btn-floating.waves-effect.waves-light{ :"data-toggle"=> "modal", :"data-target"=> "#parkModal", :"data-jobber-id"=>"#{jobber.id}"}
												%i.mdi-device-access-alarm
											= link_to jobber, class: 'kill_jobber delete_link btn-floating btn waves-effect waves-light red ', data: { url: '/jobbers', name: "#{jobber.name}", id: "#{jobber.id}", remove: "#jobber_item_#{jobber.id}" } do
												%i.mdi-action-delete{:"aria-hidden"=>"true"}
										.w70
											%h4.list-group-item-heading
												%a.jobber-link{ :"data-toggle"=> "modal", :"data-target"=> "#jobberCard", :"data-jobber-id"=>"#{jobber.id}" }
													= jobber.name


									.w100
										%p.list-group-item-text
											%a.phone-link{ title: "#{jobber.phone_number}", :"data-toggle"=> "modal", :"data-target"=> "#newCall", :"data-recipient"=>"#{jobber.phone_number}" }
												%i.mdi-communication-phone{ :"aria-hidden"=>"true", title: "#{jobber.phone_number}"}
												%span.phone
													= jobber.phone_number

											%a.ellipsis.email-link{ title: "#{jobber.email}", :"data-toggle"=> "modal", :"data-target"=> "#newMessage", :"data-recipient"=>"#{jobber.email}" }
												%i.mdi-communication-email{ :"aria-hidden"=>"true"}
												%span.email
													=jobber.email.downcase.gsub(/@/,' at ')

							.list-group-separator



	#parkModal.modal.fade{ tabindex:"-1", role:"dialog", :"aria-labelledby"=>"parkTitle", :"aria-hidden"=>"true" }
		.modal-dialog
			.modal-content
				.modal-header
					%button{ type:"button", class:"close", :"data-dismiss"=>"modal", :"aria-label"=>"Close"}
						%span{ :"aria-hidden"=>"true"} &times;
					%h4.modal-title{ id: "parkTitle"}	Parkér jobberen

				.modal-body
					%form

						.form-group
							%label{ for:"jobber_next_contact_at", class:"control-label"} Parkér indtil:
							%input.park-until{ type:"text", class:"form-control", name: "jobber[next_contact_at]", id:"jobber_next_contact_at", placeholder: 'dd-mm-åååå'}

				.modal-footer{ style: 'padding-top: 5px;'}
					.buttons{ style: 'width: 50%; float: right'}
						%button.cancel_park.btn.btn-default{ type:"button", :"data-dismiss"=>"modal" } Fortryd
						%button.btn.btn-primary{ type:"button", id: "set_parkometer"} Parkér
					.note{ style: 'width:50%; float: right'} campOS lægger en frisk dialog frem når tid er - lige til at bide i for dig ;)

	= render 'layouts/modal_jobber'
	= render 'layouts/modal_comment'
	= render 'layouts/modal_message'

	:coffeescript

		jobber_id = null


		$('a.park_jobber').on 'click', (e) ->
			jobber_id= $(this).data('jobber-id')
			elem = e.target
			$('parkModal').modal()
			name = $(elem).closest('h4').text()
			$('#parkModal').find('.modal-title').text('Parkér ' + name)

		$('#set_parkometer').on 'click', (e) ->
			url = '/jobbers/' + jobber_id + '/park'
			data = { until_at: $('input.park-until').val() }

			park_request = $.ajax
				url: url,
				data: data,
				type: "get"

			# callback handler that will be called on success
			park_request.done (response, textStatus, jqXHR) ->
				$("li#jobber_item_"+jobber_id).next('.list-group-separator').remove()
				$("li#jobber_item_"+jobber_id).remove()
				$('#parkModal').modal('hide')


		$('.checkbox.confirmation input').on 'click', () ->
			jobber_id=$(this).val()
			url = '/jobbers/' + jobber_id + '/confirmation'
			confirmation_request = $.ajax
				url: url,
				type: "get"

			# callback handler that will be called on success
			confirmation_request.done (response, textStatus, jqXHR) ->
				$('#jobber_col1_'+jobber_id).removeClass('checkbox.').removeClass('confirmation').removeClass('row-action-primary')
				$('#jobber_col1_'+jobber_id).addClass('row-picture').html(response)

			confirmation_request.always () ->
				console.log 'done'
