.authform
	%h1= t('entrances.navigation.listing_navigations')
	
	%table
		%table.table.table-striped.table-hover
			%thead
				%th= t('employees.employee')
				%th= t('employees.table.latest')
				%th= t(:delete)

			%tbody
				- @entrances.each do |entrance|
					- next entrance if entrance.employee.blank?
					%tr
						%td= link_to entrance.employee.name, entrance.employee
						%td= link_to show_clocked_at( entrance), entrance
						%td
							/ = link_to 'Destroy', entrance, :method => :delete, :data => { :confirm => 'Are you sure?' }
							%a{ href: "#{entrance_path(entrance)}", :"data-method" => :delete, title: "#{ t('entrances.navigation.delete_entrance') }" }
								.icon-preview
									%i.icon-material-backspace.text-danger

		
	%br
	
	= link_to t('entrances.navigation.new'), new_entrance_path
