- if user_signed_in?
	%li= link_to 'Jobs', jobs_path
	%li= link_to 'Jobbere', jobbers_path
	%li= link_to 'Udvalg', delivery_teams_path
	%li= link_to 'Dialog', messages_path
	%li= link_to t('devise.navigation.edit_account'), edit_user_registration_path
	%li= link_to t('devise.navigation.sign_out'), destroy_user_session_path, :method=>'delete'

- else
	- if request.path == "/"
		%li
			%a.modal-trigger.sl2017color-text.light{:href => "#jobopslag"} Jeg mangler hænder
		%li
			%a.modal-trigger.sl2017color-text.light{:href => "#jobtilmelding"} Jeg har en hånd

	%li= link_to t('devise.navigation.sign_in'), new_user_session_path, class: 'cyan-text text-accent-4'
	/ %li= link_to t('devise.navigation.sign_up'), new_user_registration_path

- if user_signed_in?
	- if current_user.admin?
		%li= link_to t(:admin), '/admin'

	- if current_user.vip?
		%li= link_to t('devise.navigation.users'), users_path
